

<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta name="robots" content="index,follow">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <title>Dominionsignaltrade | Deposit Page</title>
    <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.jpg" />
  
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <!-- others css -->
    <link rel="stylesheet" href="css/otherstyle.css">
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="styles lesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="payment/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="payment/assets/css/demo.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300" rel="stylesheet">  

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css">

<!-- <link rel="stylesheet" href="dist/aos.css"> -->
<!-- <link rel="stylesheet" href="dist/animate.min.css"> -->

<link rel="stylesheet" type="text/css" href="slick/slick/slick.css">
<link rel="stylesheet" type="text/css" href="slick/slick/slick-theme.css">

<link rel="stylesheet" href="wowmaster/css/libs/animate.css">
<link rel="stylesheet" type="text/css" href="traderwidget/plat.css">
    <link rel="stylesheet" type="text/css" href="traderwidget/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<style type="text/css">
 @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700|Chivo:300,400,700,700i,900");
    /********************** Custom Button Styling ************************/
.blood-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #6a3433;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #6a3433;
}
@media (hover) {
.blood-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #6a3433;
  color: #6a3433;
}

.blood-button:hover:after {
  width: 100%;
  left: 0;

}
}
.blood-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #6a3433;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #6a3433;
  color: #fff !important;
}
@media (hover) {
.blood-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #6a3433;
}

.blood-button-solid:hover {
  background: #fff;
  color: #6a3433 !important;
}
.blood-button-solid:hover:after {
  width: 100%;
  left: 0;
}
} 


.red-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #CC1632;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #CC1632;
}
@media (hover) {
.red-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #CC1632;
  color: #CC1632;
}

.red-button:hover:after {
  width: 100%;
  left: 0;

}
}
.red-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #CC1632;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #CC1632;
  color: #fff !important;
}
@media (hover) {
.red-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #CC1632;
}

.red-button-solid:hover {
  background: #fff;
  color: #CC1632 !important;
}
.red-button-solid:hover:after {
  width: 100%;
  left: 0;
}
}   

.blue-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #016696;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #016696;
}
@media (hover) {
.blue-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #016696;
  color: #016696;
}

.blue-button:hover:after {
  width: 100%;
  left: 0;

}
}
.blue-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #016696;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #016696;
  color: #fff !important;
}
@media (hover) {
.blue-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #016696;
}

.blue-button-solid:hover {
  background: #fff;
  color: #016696 !important;
}
.blue-button-solid:hover:after {
  width: 100%;
  left: 0;
}
}  

.lemon-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #8DC63F;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #8DC63F;
}
@media (hover) {
.lemon-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #8DC63F;
  color: #8DC63F;
}

.lemon-button:hover:after {
  width: 100%;
  left: 0;

}
}
.lemon-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #8DC63F;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #8DC63F;
  color: #fff !important;
}
@media (hover) {
.lemon-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #8DC63F;
}

.lemon-button-solid:hover {
  background: #fff;
  color: #8DC63F !important;
}
.lemon-button-solid:hover:after {
  width: 100%;
  left: 0;
}
}
    
    #amk_footer{
  margin-bottom: 20px;
  padding: 0px 40px;
}

#amk_footer h3::after {

    content: "";
    display: block;
    background: #e9d16f;
    height: 4px;
    width: 98px;
    margin: 15px 0 0;

}

#amk_footer h3 {

    font-size: 25px;
    font-weight: 700;
    color: #f2da7b;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0 0 38px;
    font-family: 'Roboto Slab';
    text-align: left!important;
}

.amk_fBox2 ul {

    font-size: 13px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Roboto Slab';

}

.amk_fBox2 ul li:nth-child(2n+1) {
    float: left;
}
.amk_fBox2 ul li {
    width: auto;
    height: 34px;
    line-height: 35px;

}
.amk_fBox2 ul li a {

    color: #FFF;
    padding-left: 22px;

}
.amk_fBox2 ul li:nth-child(2n) {
    float: right;
}

.amk_fBox3 ul li {

    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 18px;
    font-family: 'Roboto Slab', sans-serif;
}

.amk_fBox3 ul li h4 {

    font-size: 12px;
    color: #e9d16f;
    text-decoration: underline;
     font-family: 'Roboto Slab', sans-serif;

}
.amk_fBox3 ul li p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
     font-family: 'Roboto Slab', sans-serif;
}

    .counters-item {
  padding-bottom: 30px;
  color: #444;
  position: relative;
  text-align: center;
}

.counters-item.kill-border:before {
  background: none;
}

.counters-item:before {
  background: #e5e5e5;
  content: "";
  margin-top: -27.5px;
  height: 50px;
  width: 1px;
  position: absolute;
  right: -15px;
  top: 50%;
}

.counters-item > div {
  margin: 6px 0;
}

.counters-item span {
  display: inline;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.counters-item i {
  font-size: 30px;
  display: inline-block;
  color: #31BB9E;
}

.counters-item h3 {
  font-size: 15px;
  margin: 0;
  color: #666;
}

.reg-form{
  padding: 5px;
  width: 100%!important;
  border-radius: 7px;
  border: 1px solid #F5F5DC ;
}
#reg-font{
  color: #fff;
}
.reg-form:hover{
  border: 3px solid #ADD8E6;
}
.profile-li{
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px!important;
}
.profile-li:hover{
  background-color: #20B2AA;
  color: #5F9EA0!important;

}
.profile-a{
  /*background-color: #00FFFF;*/
  color: #fff;
  text-decoration: none;
}
.profile-a:hover{
  /*background-color: #00FFFF;*/
  text-decoration: none;
  color: #fff;
}
#profile-font{
  color: #008080;
  font-weight: 600;
}

@font-face{
            font-family: digital;
            src: url('traderwidget/DS-DIGI.TTF');
        }

         @media (max-width: 600px){
  .con-warn{
    color: red;
    display: block!important;
  }
  .converter {
    display: none!important;
  }
  
 }
    </style>
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    
    <div id="ytWidget" style="
  position: fixed;
  bottom: 350px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

  "></div>
          <script src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=false" type="text/javascript"></script>

    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu" style="background-color: #041e37!important">
            <div class="sidebar-header" style="background-color: #041e37!important">
                
    
                    
                <div class="logo">
                    <!-- <a href="index"><img src="assets/images/icon/logo.png" alt="logo"></a> -->
                   <a href="/dashboard"><img style="max-width: 70%;" src="logo1.png" alt="Trading"></a>
                </div>
            </div>
            <div class="main-menu" style="background-color:  #041e37!important" >
                <div class="menu-inner" style="background-color: #041e37!important">
                    <nav>
                        <ul class="metismenu" id="menu" style="font-weight: bold">
                          <li class="dropdown-header">MAIN</li>
                          <li class="active">
                              <a href="/dashboard" aria-expanded="true"><i class="fa-solid fa-gauge-high"></i><span>Dashboard</span></a>
                              
                          </li>
                          <li class="dropdown-header">ACCOUNT</li>
                          <li>
                              <a href="/deposit" aria-expanded="true"><i class="fa fa-money"></i><span>Fund Account
                                  </span></a>
                          </li>
                          <li>
                              <a href="/withdrawal" aria-expanded="true"><i class="fa fa-money"></i><span>Withdraw</span></a>
                          </li>
                          <li>
                              <a href="/depositHistory/<%=user._id%>" aria-expanded="true"><i class="fa fa-history"></i><span>Transaction History</span></a>
                          </li>
                          <li>
                            <a href="/widthdrawHistory/<%=user._id%>" aria-expanded="true"><i class="fa fa-history"></i><span>Widthdraw History</span></a>
                        </li>
                            <li>
                              <a href="/referral" aria-expanded="true"><i class="fa fa-money"></i><span>My Referrals
                                  </span></a>
                          </li>
                          
                          <li>
                              <a href="/account" aria-expanded="true"><i class="fa-solid fa-user"></i><span>My Account</span></a>
                          </li>
                          <li class="dropdown-header">OTHERS</li>
                          <li>
                              <a href="/verify" aria-expanded="true"><i class="fa fa-check"></i>
                                  <span>Account Unverified</span></a>
                          </li>
                          <!-- <li><a href="feedback"><i class="ti-receipt"></i> <span>Send Feedback</span></a></li> -->
                          <li><a href="/editProfile/<%=user._id%>"><i class="fa fa-edit"></i> <span>Update Profile</span></a></li>

                                                        <br><br>    
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
                <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div style="background-color: #e2e2e2!important;" class="main-content">
            <!-- header area start -->
             <div style="background-color: #000!important" class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div  class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- <div class="search-box pull-left">
                             <img src="images/logo.png" alt="trading" width="150px">
                        </div> -->
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view" title="Enter Fullscreen Mode"><i class="fa-solid fa-maximize"></i></li>
                            <li id="full-view-exit" title="Exit Fullscreen Mode"><i class="fa-solid fa-maximize"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!-- header area end -->
<!-- page title area start -->
<div class="page-title-area">
<div class="row align-items-center">
<div class="col-sm-6">
<div class="breadcrumbs-area clearfix">
<h4 class="page-title pull-left">Fund Account </h4>
<ul class="breadcrumbs pull-left">
<li><a href="/dashboard">Home</a></li>
<li><span>Fund Account </span></li>
</ul>
</div>
</div>
<div class="col-sm-6 clearfix">
<div class="user-profile pull-right">
<img class="avatar user-thumb" src="face.png" alt="avatar">
<h4 style="color: #000" class="user-name dropdown-toggle" data-toggle="dropdown"><%=user.fullname%><i class="fa fa-angle-down"></i></h4>
<div class="dropdown-menu">
  <a class="dropdown-item" href="/account">Profile</a>
  <a class="dropdown-item" href="/editProfile/<%=user._id%>">Settings</a>
  <a class="dropdown-item" href="/logout">Log Out</a>
</div>
</div>
</div>
</div>
</div>            <!-- page title area end -->

<div class="main-content-inner">
<!-- sales report area start -->
<div class="row mt-5 mb-5">
<div class="col-12">
<div class="card">
<div  >
<div style="background-color: #F5F5F5; padding: 20px" class="d-sm-flex justify-content-between">
<div>
<h4 class="header-title mb-0">Fund Your Account Instantly</h4>
</div>
</div>

<!-- nav tab start -->
<div class="col-lg-12 mt-5">
<div class="card">
<div class="card-body">
<center>
</center>

<ul class="nav nav-tabs" id="myTab" role="tablist">
<li class="nav-item">
<a class="nav-link " id="bank-tab" data-toggle="tab" href="#bank" role="tab" aria-controls="bank" aria-selected="true"><span class="fa fa-institution"> </span> Bank Transfer</a>
</li>
<li class="nav-item">
<a class="nav-link active" id="bitcoin-tab" data-toggle="tab" href="#bitcoin" role="tab" aria-controls="bitcoin" aria-selected="false"><span class="fa fa-bitcoin"> </span> Bitcoin</a>
</li>
<li class="nav-item">
<a class="nav-link" id="creditcard-tab" data-toggle="tab" href="#creditcard" role="tab" aria-controls="creditcard" aria-selected="false"><span class="fa fa-cc"> </span> Credit Card</a>
</li>
<li class="nav-item">
<a class="nav-link" id="moneygram-tab" data-toggle="tab" href="#moneygram" role="tab" aria-controls="moneygram" aria-selected="false"><span class="fa fa-dollar"> </span>MoneyGram</a>
</li>
<li class="nav-item">
<a class="nav-link" id="western-tab" data-toggle="tab" href="#western" role="tab" aria-controls="western" aria-selected="false"><span class="fa fa-won"> </span> Western Union</a>
</li>
<li class="nav-item">
<a class="nav-link" id="readme-tab" data-toggle="tab" href="#readme" role="tab" aria-controls="readme" aria-selected="false"><span class="fa fa-info"> </span> Read Me</a>
</li>
</ul>
<div style="width: 90%; padding-left: 10%;">
<div class="tab-content mt-3" id="myTabContent">
<div class="tab-pane fade " id="bank" role="tabpanel" aria-labelledby="bank-tab">
<p> Contact support@Dominionsignaltrade.com for a more detailed description. Ensure to provide your Funding Code when contacting support. If you encounter any issue while funding your account, please contact support@Dominionsignaltrade.com for assistance.
</p><p>Your account will be credited once your payment is confirmed. </p>
<br>

<form action="/deposit/<%=user._id%>" method="POST">
<div class="form-group">
<label for="exampleInputEmail1">Username</label>
<input readonly="" class="form-control" type="text" placeholder="Username" value="<%=user.username%>" name="username" id="username">
</div>
<input class="form-control" type="text" value="Bank Deposit"  name="type" id="type" readonly>

<div class="form-group">
<label for="exampleInputEmail1">Fund Amount</label>
<input required="" class="form-control" type="number" step=".01"  min="1" placeholder="Fund Amount" name="amount" id="amount">
</div>
<div class="form-group">
<label for="exampleInputEmail1">Description</label>
<textarea required="" class="form-control" placeholder="Description..." name="narration" id="narration"></textarea>
</div>
<div class="submit-btn-area">
<button id="form_submit" name="deposit_me" type="submit">Submit<i class="fa fa-send"></i></button>
</div>
</form>

</div>
<div class="tab-pane fade show active" id="bitcoin" role="tabpanel" aria-labelledby="bitcoin-tab">
<p> Contact support@dominionsignaltrade.com for a more detailed description.</p>
<p>Copy the wallet address provided below.</p>
<p>Make payment from your Bitcoin wallet. (Send the equivalent bitcoin amount of the amount you wish to invest).</p>
<p>Provide your transaction hash ID. This can be gotten from your wallet after payment.</p>
<p>Click on Submit.</p>
<p> Your account will be credited once your payment is confirmed. </p>
<p>NOTE: If you have problems finding your Transaction Hash ID, Use the last 10 digits of your wallet address as the Transaction Hash ID. </p>
<p> If you encounter any issue while funding your account, please contact support@Dominionsignaltrade.com for assistance. </p>
<br>
<div>
<form action="/deposit/<%=user._id%>" method="POST">
<div class="form-group">
<label for="exampleInputEmail1">Username</label>
<input  readonly="" value="<%=user.username%>" class="form-control" type="text" placeholder="Username" id="username">
</div>
<!-- <div class="form-group">
<label for="exampleInputEmail1">Fund Code</label>
<input required="" readonly="" class="form-control" type="text" placeholder="Fund Code" value="1661913205" name="fund_code" id="fund_code">
</div> -->
<div class="form-group">
<label for="exampleInputEmail1">Copy the Bitcoin wallet address below to fund account</label> <br>


<input type="text"  class="form-control" id="btc" readonly="" value="bc1qxptlsanaywgzp0w409z67pl3wvd9gptudmk433">
<br>
<button class='btn btn-info' onclick="myFunction()">Copy Wallet</button>

</div>
<br>

<div class="form-group">
<label for="exampleInputEmail1">Copy the Tron wallet address below to fund account</label> <br>


<input type="text"  class="form-control" id="tron" readonly="" value="TWWx37fq8KAWQ9yaZKjDiBec6iDXhafkaW">
<br>
<button class='btn btn-info' onclick="myFunction2()">Copy Wallet</button>

</div>
<br>
<div class="form-group">
<label for="exampleInputEmail1">Copy the ETH wallet address below to fund account</label> <br>


<input type="text"  class="form-control" id="eth" readonly="" value="0xf2e5433817427518143E7c35CC24cB87B3bd3763">
<br>
<button class='btn btn-info' onclick="myFunction3()">Copy Wallet</button>

</div>
<br>

<div class="form-group">
<label for="exampleInputEmail1">Copy the Dogecoin wallet address below to fund account</label> <br>


<input type="text"  class="form-control" id="tether" readonly="" value="D9EeKdHFxuVsqYapyvD1YMcsnBKXnvLsL3">
<br>
<button class='btn btn-info' onclick="myFunction4()">Copy Wallet</button>

</div>
<br>
<h5> Fill in the amount and hash ID of your payment and Click on submit for verification purposes</h5> <br><br>
<div class="form-group">
<label for="exampleInputEmail1">Fund Amount</label>
<input required="" class="form-control" type="text" min="1" step=".01" placeholder="Fund Amount" value="" name="amount" id="amount">
</div>
<input class="form-control" type="text" value="Crypto Deposit" name="type" id="type" readonly>

<!-- <div class="form-group">
<label for="exampleInputEmail1">Transaction Hash ID</label>
<input required="" class="form-control" value="" type="text" placeholder="Enter Hash ID" name="hash_id" id="hash_id">
</div> -->
<div class="form-group">
<label for="exampleInputEmail1">Description</label>
<textarea required="" class="form-control" placeholder="Description..." id="narration" name="narration"></textarea>
</div>
<div class="submit-btn-area">
<button id="form_submit" name="deposit_me" type="submit">Submit<i class="fa fa-send"></i></button>
</div>
</form>
</div>
</div>
<div class="tab-pane fade" id="creditcard" role="tabpanel" aria-labelledby="creditcard-tab">
<h5>This method is currently unavailable</h5>
</div>
<div class="tab-pane fade" id="moneygram" role="tabpanel" aria-labelledby="moneygram-tab">
<p> Contact support@dominionsignaltrade.com for a more detailed description.</p>
<p>Your account will be credited once your payment is confirmed. If you encounter any issue while funding your account, please contact support@dominionsignaltrade.com for assistance.
</p><p><b>Contact support@dominionsignaltrade.com for guidance on Moneygram Payments</b></p>
</div>
<div class="tab-pane fade" id="western" role="tabpanel" aria-labelledby="western-tab">
<p>Contact support@Dominionsignaltrade.com for a more detailed description.</p>
<p>Your account will be credited once your payment is confirmed. If you encounter any issue while funding your account, please contact support@dominionsignaltrade.com for assistance. 
</p><p><b>Contact support@dominionsignaltrade.com for guidance on Western Union Payments</b></p>
</div>
<div class="tab-pane fade" id="readme" role="tabpanel" aria-labelledby="readme-tab">
<p><b>Read Me Carefully <span class="fa fa-info"></span></b></p>
<p>Please note that you could lose all or part of your money as a result of trading. No other platform wants you to know this. Although we have the best traders/brokers using the best tradeing softwares out there, we cannot guarantee that you would always win. </p>
</div>


</div>
</div>
</div>
</div>
<!-- nav tab end -->
</div>
</div>
</div>
</div>
<!-- market value area end -->

</div>
</div>                    
<script>
function myFunction() {
var copyText = document.getElementById("btc");
copyText.select();
copyText.setSelectionRange(0, 99999)
document.execCommand("copy");
alert("Copied wallet : " + copyText.value);
}
</script>

<script>
function myFunction2() {
var copyText = document.getElementById("tron");
copyText.select();
copyText.setSelectionRange(0, 99999)
document.execCommand("copy");
alert("Copied wallet : " + copyText.value);
}
</script>

<script>
function myFunction3() {
var copyText = document.getElementById("eth");
copyText.select();
copyText.setSelectionRange(0, 99999)
document.execCommand("copy");
alert("Copied wallet : " + copyText.value);
}
</script>

<script>
function myFunction4() {
var copyText = document.getElementById("tether");
copyText.select();
copyText.setSelectionRange(0, 99999)
document.execCommand("copy");
alert("Copied wallet : " + copyText.value);
}
</script>
<section class="call-to-action section-sm" style="background-color: #fff;">
	<div class="container">
		<div class="row">
            <div class="col-md-12  wow wobble" id="amk_footis" data-wow-duration="2s">
              <h3>PAYMENT METHOD</h3>
                <!-- <h3 style="text-transform: uppercase; font-family: Montserrat, sans-serif; color: #000; font-weight: bold; text-align: center;">PAYMENT METHOD <span style="color: #ff0000">WE ACCEPT</span></h3>
        <div><center><hr style="width: 30%; border: 2px solid #ff0000"></center></div> -->
            </div>
        </div>


        </div>
				
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->        <!-- footer area start-->  <!-- End section -->
<div class="footer-area">
                <p>© Copyright 2022. All right reserved.</p>
            </div>
        </footer>
        <div>
</div>    


<div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just earned <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>
.mgm {
border-radius: 7px;
position: fixed;
z-index: 90;
bottom: 80px;
right: 50px;
background: #00FFE2;
padding: 20px 27px;
box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
font-weight: 700;
display: block;
color:#f2d516;
}
.mgm a, .mgm a:active {
transition: all .2s ease;
color:#f2d516;
}
</style>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
var listCountries = ['Argentina', 'USA', 'Germany', 'France', 'Italy', 'South Korea', 'Australia', 'Norway', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Spain', 'Austria', 'Venezuela', 'South Africa', 'Sweden', 'South Korea', 'China', 'Italy', 'Germany', 'United Kingdom', 'Bahrain', 'Greece', 'Cuba', 'Bulgaria', 'Portugal', 'Austria', 'Cyprus', 'Panama', 'Asia', 'Norway', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus','Spain','Norway'];
var listPlans = ['$2000','$1000','$50000','$15000','$10000','$100000','$20000','$1500','$30000','$40000','$1200','$60000','$3400', '$7000', '$25000', '$25000', '$35000', '$5000','$7000','$45000','$3500','$5000','$12500','$9500'];
interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
var run = setInterval(request, interval);

function request() {
clearInterval(run);
interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
var country = listCountries[Math.floor(Math.random() * listCountries.length)];
var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
var msg = 'Someone from <b>' + country + '</b> just earned  <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' .</a>';
$(".mgm .txt").html(msg);
$(".mgm").stop(true).fadeIn(300);
window.setTimeout(function() {
    $(".mgm").stop(true).fadeOut(300);
}, 6000);
run = setInterval(request, interval);
}
</script>


<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- page container area end -->
    
    <!-- jquery latest version -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script>

<script src="slick/slick/slick.js" ></script>
<script src="wowmaster/dist/wow.js"></script>

<script src="traderwidget/moment.js"></script>
<script src="traderwidget/chart.js"></script>
<script src="traderwidget/main.js"></script>

<script>
     $(document).ready(function(){
         
    // slick slider
         $(".variable").slick({
        dots: false,
        arrows: false,
        infinite: true,
        variableWidth: true,
        slidesToShow: 3,
  slidesToScroll: 1,
        autoplay: true,
  autoplaySpeed: 1000,
      }); 


// end of slick slider


// end of view port detector
 $('#toper').css("position", "sticky");
 $('#toper').css("margin-top", "0px");
 $('#toper').css("top", "0");
 $('#toper').css("z-index", "1000");
 $('p').css("font-family", "Montserrat, sans-serif");
 $('h2').css("font-family", "Montserrat, sans-serif");
 $('h4').css("font-family", "Montserrat, sans-serif");
 $('h6').css("font-family", "Montserrat, sans-serif");
 $('input').css("font-family", "Montserrat, sans-serif");
 $('#mint').css("font-family", "digital");
 $('#sect').css("font-family", "digital");
 $('label').css("font-family", "Montserrat, sans-serif");
$('option').css("font-family", "Montserrat, sans-serif");
$('select').css("font-family", "Montserrat, sans-serif");
$('li').css("font-family", "Montserrat, sans-serif");
// $('input').css("height", "3.25rem");
// $('select').css("height", "3.25rem");
// $('input').css("border-radius", "0px");
// $('select').css("border-radius", "0px");
// position: sticky; top: 0; margin-top: 0px; z-index: 1000



        });
    </script>

   
<script src="//code.jivosite.com/widget/xOH29l9VIB" async></script>


</body>

</html>
