

<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta name="robots" content="index,follow">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <title>Dominionsignaltrade | User Dashboard</title>
    <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.jpg" />
  
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <!-- others css -->
    <link rel="stylesheet" href="/css/otherstyle.css">
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="styles lesheet" href="/assets/css/default-css.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/payment/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/payment/assets/css/demo.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300" rel="stylesheet">  

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css">

<!-- <link rel="stylesheet" href="dist/aos.css"> -->
<!-- <link rel="stylesheet" href="dist/animate.min.css"> -->

<link rel="stylesheet" type="text/css" href="/slick/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/slick/slick/slick-theme.css">

<link rel="stylesheet" href="/wowmaster/css/libs/animate.css">
<link rel="stylesheet" type="text/css" href="/traderwidget/plat.css">
    <link rel="stylesheet" type="text/css" href="/traderwidget/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<style type="text/css">
 @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700|Chivo:300,400,700,700i,900");
    /********************** Custom Button Styling ************************/
.blood-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #6a3433;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #6a3433;
}
@media (hover) {
.blood-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #6a3433;
  color: #6a3433;
}

.blood-button:hover:after {
  width: 100%;
  left: 0;

}
}
.blood-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #6a3433;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #6a3433;
  color: #fff !important;
}
@media (hover) {
.blood-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #6a3433;
}

.blood-button-solid:hover {
  background: #fff;
  color: #6a3433 !important;
}
.blood-button-solid:hover:after {
  width: 100%;
  left: 0;
}
} 


.red-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #CC1632;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #CC1632;
}
@media (hover) {
.red-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #CC1632;
  color: #CC1632;
}

.red-button:hover:after {
  width: 100%;
  left: 0;

}
}
.red-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #CC1632;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #CC1632;
  color: #fff !important;
}
@media (hover) {
.red-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #CC1632;
}

.red-button-solid:hover {
  background: #fff;
  color: #CC1632 !important;
}
.red-button-solid:hover:after {
  width: 100%;
  left: 0;
}
}   

.blue-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #016696;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #016696;
}
@media (hover) {
.blue-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #016696;
  color: #016696;
}

.blue-button:hover:after {
  width: 100%;
  left: 0;

}
}
.blue-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #016696;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #016696;
  color: #fff !important;
}
@media (hover) {
.blue-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #016696;
}

.blue-button-solid:hover {
  background: #fff;
  color: #016696 !important;
}
.blue-button-solid:hover:after {
  width: 100%;
  left: 0;
}
}  

.lemon-button {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #8DC63F;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  white-space: nowrap !important;
  color: #8DC63F;
}
@media (hover) {
.lemon-button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #8DC63F;
  color: #8DC63F;
}

.lemon-button:hover:after {
  width: 100%;
  left: 0;

}
}
.lemon-button-solid {
  /***-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;***/
  padding: 10px 20px;
  border: 2px solid #8DC63F;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none !important;
  margin-top: 10px;
  background: #8DC63F;
  color: #fff !important;
}
@media (hover) {
.lemon-button-solid:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #8DC63F;
}

.lemon-button-solid:hover {
  background: #fff;
  color: #8DC63F !important;
}
.lemon-button-solid:hover:after {
  width: 100%;
  left: 0;
}
}
    
    #amk_footer{
  margin-bottom: 20px;
  padding: 0px 40px;
}

#amk_footer h3::after {

    content: "";
    display: block;
    background: #e9d16f;
    height: 4px;
    width: 98px;
    margin: 15px 0 0;

}

#amk_footer h3 {

    font-size: 25px;
    font-weight: 700;
    color: #f2da7b;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0 0 38px;
    font-family: 'Roboto Slab';
    text-align: left!important;
}

.amk_fBox2 ul {

    font-size: 13px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Roboto Slab';

}

.amk_fBox2 ul li:nth-child(2n+1) {
    float: left;
}
.amk_fBox2 ul li {
    width: auto;
    height: 34px;
    line-height: 35px;

}
.amk_fBox2 ul li a {

    color: #FFF;
    padding-left: 22px;

}
.amk_fBox2 ul li:nth-child(2n) {
    float: right;
}

.amk_fBox3 ul li {

    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 18px;
    font-family: 'Roboto Slab', sans-serif;
}

.amk_fBox3 ul li h4 {

    font-size: 12px;
    color: #e9d16f;
    text-decoration: underline;
     font-family: 'Roboto Slab', sans-serif;

}
.amk_fBox3 ul li p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
     font-family: 'Roboto Slab', sans-serif;
}

    .counters-item {
  padding-bottom: 30px;
  color: #444;
  position: relative;
  text-align: center;
}

.counters-item.kill-border:before {
  background: none;
}

.counters-item:before {
  background: #e5e5e5;
  content: "";
  margin-top: -27.5px;
  height: 50px;
  width: 1px;
  position: absolute;
  right: -15px;
  top: 50%;
}

.counters-item > div {
  margin: 6px 0;
}

.counters-item span {
  display: inline;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.counters-item i {
  font-size: 30px;
  display: inline-block;
  color: #31BB9E;
}

.counters-item h3 {
  font-size: 15px;
  margin: 0;
  color: #666;
}

.reg-form{
  padding: 5px;
  width: 100%!important;
  border-radius: 7px;
  border: 1px solid #F5F5DC ;
}
#reg-font{
  color: #fff;
}
.reg-form:hover{
  border: 3px solid #ADD8E6;
}
.profile-li{
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px!important;
}
.profile-li:hover{
  background-color: #20B2AA;
  color: #5F9EA0!important;

}
.profile-a{
  /*background-color: #00FFFF;*/
  color: #fff;
  text-decoration: none;
}
.profile-a:hover{
  /*background-color: #00FFFF;*/
  text-decoration: none;
  color: #fff;
}
#profile-font{
  color: #008080;
  font-weight: 600;
}

@font-face{
            font-family: digital;
            src: url('traderwidget/DS-DIGI.TTF');
        }

         @media (max-width: 600px){
  .con-warn{
    color: red;
    display: block!important;
  }
  .converter {
    display: none!important;
  }
  
 }
    </style>
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    
    <div id="ytWidget" style="
  position: fixed;
  bottom: 350px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

  "></div>
          <script src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=false" type="text/javascript"></script>

    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu" style="background-color: #041e37!important">
            <div class="sidebar-header" style="background-color: #041e37!important">
                
    
                    
                <div class="logo">
                    <!-- <a href="index"><img src="assets/images/icon/logo.png" alt="logo"></a> -->
                   <a href="/adminRoute"><img style="max-width: 70%;" src="logo1.png" alt="Trading"></a>
                </div>
            </div>
            <div class="main-menu" style="background-color:  #041e37!important" >
                <div class="menu-inner" style="background-color: #041e37!important">
                    <nav>
                        <ul class="metismenu" id="menu" style="font-weight: bold">
                            <li class="dropdown-header">MAIN</li>
                            <li class="active">
                                <a href="/adminRoute" aria-expanded="true"><i class="fa-solid fa-gauge-high"></i><span>Dashboard</span></a>
                                
                            </li>
                            <li class="dropdown-header">ACCOUNT</li>
                            <li>
                                <a href="/allFunding" aria-expanded="true"><i class="fa fa-money"></i><span>Fund Account
                                    </span></a>
                            </li>
                            <li>
                                <a href="/allWidthdrawals" aria-expanded="true"><i class="fa fa-money"></i><span>Withdraw</span></a>
                            </li>
                                                        <br><br>    
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
                <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div style="background-color: #e2e2e2!important;" class="main-content">
            <!-- header area start -->
             <div style="background-color: #000!important" class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div  class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                             <!-- <img src="images/logo.png" alt="trading" width="150px"> -->
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view" title="Enter Fullscreen Mode"><i class="fa-solid fa-maximize"></i></li>
                            <li id="full-view-exit" title="Exit Fullscreen Mode"><i class="fa-solid fa-maximize"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
<!-- header area end -->
<!-- page title area start -->
<div class="page-title-area">
<div class="row align-items-center">
<div class="col-sm-6">
<div class="breadcrumbs-area clearfix">
<h4 class="page-title pull-left">Dashboard</h4>
<ul class="breadcrumbs pull-left">
<li><a href="/adminRoute">Home</a></li>
<li><span>Dashboard</span></li>
</ul>
</div>
</div>
</div>
</div>        

<div class="d-flex justify-content-evenly flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="background-color: black;">
  <h1 class="h2"><%=user.fullname%></h1>
  <div class="btn-toolbar mb-2 mb-md 0">
  </div>

  </div>

  <div class="col py-3" style="background-color: black;">

      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active"><%= user.fullname %></li>
            </ol>
          </nav>
        </div>
        <div class="col text-end fw-lighter">
          <b>Last Updated</b>
          <b >UserId:</b><%=user._id%>
        </div>
      </div>
    
    </div>
    
    <ul class="list-group" style="background-color: black;">
    
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Name:</b></div>
          <div class="col" style="color: black;"><%= user.fullname %> </div>
        </div>
      </li>
    
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Tel:</b></div>
          <div class="col" style="color: black;"><%= user.tel %></div>
        </div>
      </li>
    
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Email:</b></div>
          <div class="col" style="color: black;"><%= user.email %></div>
        </div>
      </li>
        
       <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Country:</b></div>
          <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.country %></div>
        </div>
      </li>
      
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Widthdraw ID:</b></div>
          <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.widthdraws %></div>
        </div>
      </li>
      

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Deposits ID:</b></div>
          <div class="col" style="color: black;"><%= user.deposits %></div>
        </div>
      </li>
      
 
      
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Verification status:</b></div>
          <div class="col" style="color: black;"><%= user.verifiedStatus%> </div>
        </div>
      </li>

       <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Password:</b></div>
          <div class="col" style="color: black;"><%= user.password%> </div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Deposit Balance:</b></div>
          <div class="col" style="color: black;"><%=user.balance%> </div>
        </div>
      </li>
    
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Widthdraw Balance:</b></div>
          <div class="col" style="color: black;"><%= user.widthdrawBalance%> </div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Available Balance:</b></div>
          <div class="col" style="color: black;"><%=user.available%> </div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Bonus:</b></div>
          <div class="col" style="color: black;"><%= user.bonus%> </div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Date Created:</b></div>
          <div class="col" style="color: black;"><%= user.createdAt%> </div>
        </div>
      </li>
    
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b style="color: black;">Date Modified:</b></div>
          <div class="col" style="color: black;"><%= user.updatedAt%> </div>
        </div>
      </li>
    
    </ul>

				
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->        <!-- footer area start-->  <!-- End section -->
<div class="footer-area">
                <p>© Copyright 2022. All right reserved.</p>
            </div>
        </footer>
        <div>
</div>    


<div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just earned <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>
.mgm {
border-radius: 7px;
position: fixed;
z-index: 90;
bottom: 80px;
right: 50px;
background: #00FFE2;
padding: 20px 27px;
box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
font-weight: 700;
display: block;
color:#f2d516;
}
.mgm a, .mgm a:active {
transition: all .2s ease;
color:#f2d516;
}
</style>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
var listCountries = ['Argentina', 'USA', 'Germany', 'France', 'Italy', 'South Korea', 'Australia', 'Norway', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Spain', 'Austria', 'Venezuela', 'South Africa', 'Sweden', 'South Korea', 'China', 'Italy', 'Germany', 'United Kingdom', 'Bahrain', 'Greece', 'Cuba', 'Bulgaria', 'Portugal', 'Austria', 'Cyprus', 'Panama', 'Asia', 'Norway', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus','Spain','Norway'];
var listPlans = ['$2000','$1000','$50000','$15000','$10000','$100000','$20000','$1500','$30000','$40000','$1200','$60000','$3400', '$7000', '$25000', '$25000', '$35000', '$5000','$7000','$45000','$3500','$5000','$12500','$9500'];
interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
var run = setInterval(request, interval);

function request() {
clearInterval(run);
interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
var country = listCountries[Math.floor(Math.random() * listCountries.length)];
var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
var msg = 'Someone from <b>' + country + '</b> just earned  <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' .</a>';
$(".mgm .txt").html(msg);
$(".mgm").stop(true).fadeIn(300);
window.setTimeout(function() {
    $(".mgm").stop(true).fadeOut(300);
}, 6000);
run = setInterval(request, interval);
}
</script>



<!-- page container area end -->
    
  <!-- jquery latest version -->
  <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
  <!-- bootstrap 4 js -->
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/metisMenu.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.min.js"></script>
  <script src="/assets/js/jquery.slicknav.min.js"></script>

  <!-- start chart js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <!-- start highcharts js -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- start zingchart js -->
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
  zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
  ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
  </script>
  <!-- all line chart activation -->
  <script src="/assets/js/line-chart.js"></script>
  <!-- all pie chart -->
  <script src="/assets/js/pie-chart.js"></script>
  <!-- others plugins -->
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/scripts.js"></script>

<script src="/slick/slick/slick.js" ></script>
<script src="/wowmaster/dist/wow.js"></script>

<script src="/traderwidget/moment.js"></script>
<script src="/traderwidget/chart.js"></script>
<script src="/traderwidget/main.js"></script>


<script>
     $(document).ready(function(){
         
    // slick slider
         $(".variable").slick({
        dots: false,
        arrows: false,
        infinite: true,
        variableWidth: true,
        slidesToShow: 3,
  slidesToScroll: 1,
        autoplay: true,
  autoplaySpeed: 1000,
      }); 


// end of slick slider


// end of view port detector
 $('#toper').css("position", "sticky");
 $('#toper').css("margin-top", "0px");
 $('#toper').css("top", "0");
 $('#toper').css("z-index", "1000");
 $('p').css("font-family", "Montserrat, sans-serif");
 $('h2').css("font-family", "Montserrat, sans-serif");
 $('h4').css("font-family", "Montserrat, sans-serif");
 $('h6').css("font-family", "Montserrat, sans-serif");
 $('input').css("font-family", "Montserrat, sans-serif");
 $('#mint').css("font-family", "digital");
 $('#sect').css("font-family", "digital");
 $('label').css("font-family", "Montserrat, sans-serif");
$('option').css("font-family", "Montserrat, sans-serif");
$('select').css("font-family", "Montserrat, sans-serif");
$('li').css("font-family", "Montserrat, sans-serif");
// $('input').css("height", "3.25rem");
// $('select').css("height", "3.25rem");
// $('input').css("border-radius", "0px");
// $('select').css("border-radius", "0px");
// position: sticky; top: 0; margin-top: 0px; z-index: 1000



        });
    </script>


</body>

</html>